@import 'tailwindcss';

.top-section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 2rem 4rem;
    border-bottom: 2px solid #29213f;
    background: #fff;
    gap: 2rem;
}

.top-section header {
    flex: 1 1 0;
    min-width: 0;
    padding: 0;
    border: none;
}

.top-section aside {
    margin: 0;
    margin-right: 2rem;
    display: flex;
}

.top-section aside img     
{
    height: 100px;
    width: 100px;
    justify-items: start;
    aspect-ratio: 1;
    object-fit: scale-down;
    object-position: top;
    display: block;
}


h1 {
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.5px;
    margin-bottom: 0.5rem;
}
h2 {
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 0.5px;
    margin-bottom: 0.5rem;
}


body {
    font-family: system-ui;
    background-color: #fff;
    max-width: 700px;
    min-width: 500px;
}




section li h3,
section li p {
    font-size: .8rem;
    letter-spacing: 0.5px;
}

section li{
    margin: 0.1rem 1rem;
}